html.mdc-typography
  head
    title RolzPro AAW
    link(rel='stylesheet', href='/material-components-web.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body.bgmain
    .center-div
      img.center-logo(src='/RolzProLogo2.svg', alt='RolzPro.com Logo v1, (c) 2017 RolzPro.com')
    .mdc-card.getcard.center-div
      section.mdc-card__primary
        divc.mdc-typography--title=errormessage
      section.mdc-card__actions
        form#get-form(action='/', method='GET')
          div
            .mdc-form-field
              button.mdc-button.mdc-button.mdc-button--primary.mdc-button--raised.mdc-ripple-surface(type='submit', data-mdc-auto-init='MDCRipple') Back to Main Page
