html.mdc-typography
  head
    title ez!BANG!
    link(rel='stylesheet', href='./material-components-web.css')
  main.bgmain
    .center-div
      img.center-logo(src='/RolzProLogo2.svg', alt='RolzPro.com Logo v1, (c) 2017 RolzPro.com')
    .mdc-card.getcard.center-div
      section.mdc-card__primary
        divc.mdc-typography--heading2
          | To create your new ez!BANG! minigame account, see below.
    .mdc-card.getcard.center-div
      section.mdc-card__primary
        form#get-form(action='/confirmcreate', method='POST')
          div
            h1.mdc-card__title.mdc-card__title--large Username:
            .mdc-form-field
              .mdc-textfield(data-mdc-auto-init='MDCTextfield')
                input#getid.mdc-textfield__input(type='text', name='username')
                label.mdc-textfield__label(for='getid') Username
          div
            h1.mdc-card__title.mdc-card__title--large Password:
            .mdc-form-field
              .mdc-textfield(data-mdc-auto-init='MDCTextfield')
                input#getid.mdc-textfield__input(type='password', name='password')
                label.mdc-textfield__label(for='getid') Password

          div
            h1.mdc-card__title.mdc-card__title--large Full Name (for scorekeeping purposes):
            .mdc-form-field
              .mdc-textfield(data-mdc-auto-init='MDCTextfield')
                input#getid.mdc-textfield__input(type='text', name='name')
                label.mdc-textfield__label(for='getid') Name
          button.mdc-button.mdc-button--raised.mdc-button--accent.mdc-ripple-surface(type='submit', data-mdc-auto-init='MDCRipple') Create Account
        form#get-form(action='/', method='GET')
          div
            .mdc-form-field
              button.mdc-button.mdc-button.mdc-button--primary.mdc-button--raised.mdc-ripple-surface(type='submit', data-mdc-auto-init='MDCRipple') Cancel
    aside#mdc-dialog-with-list.mdc-dialog(style='visibility:hidden', role='alertdialog', aria-labelledby='mdc-dialog-with-list-label', aria-describedby='mdc-dialog-with-list-description')
      .mdc-dialog__surface
        header.mdc-dialog__header
          h2#mdc-dialog-with-list-label.mdc-dialog__header__title=errormessage
        footer.mdc-dialog__footer
          button.mdc-button.mdc-dialog__footer__button.mdc-dialog__footer__button--cancel(type='button') Got It!
      .mdc-dialog__backdrop
    .mdc-card.getcard.center-div
      section.mdc-card__primary
        divc.mdc-typography--heading2
          | If you forgot your password, or are having any trouble with your account, please contact RolzPro technical support directly at cwu159@gmail.com. Thanks!
  script(src='https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js')
  script.
    window.mdc.autoInit();
  script.
    var swidth = screen.width;
    var sheight = screen.height;
    var error = !{JSON.stringify(error)};
    if(error==='true')
    {
    var dialogScrollable = new mdc.dialog.MDCDialog(document.querySelector('#mdc-dialog-with-list'));
    dialogScrollable.show();
    }
