html.mdc-typography
  head
    title RolzPro AAW
    link(rel='stylesheet', href='/material-components-web.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body.bgmain
    .center-div
      img.center-logo(src='/RolzProLogo2.svg', alt='RolzPro.com Logo v1, (c) 2017 RolzPro.com')
      form#get-form(action='/login', method='GET')
        div
          .mdc-form-field
            button.mdc-button.mdc-button.mdc-button--primary.mdc-button--raised.mdc-ripple-surface(type='submit', data-mdc-auto-init='MDCRipple')="Login"
    .mdc-card.getcard.center-div
      section.mdc-card__primary
        button.mdc-button.mdc-button.mdc-button--accent.mdc-button--raised.mdc-ripple-surface.startgame(data-mdc-auto-init='MDCRipple')="Join New Game"
        br
        br
        divc.mdc-typography--title.infotext="Hi, "+username+"!   Welcome to the new and improved RolzPro.com! Click on the menu to see more, and check out the info section if its your first time here. To view your current RolzPro XP, check out the XP section in the menu!"

  //script(src='https://cdn.socket.io/socket.io-1.2.0.js')
  script(src='https://code.jquery.com/jquery-1.11.1.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script.
    $(function () {
    var socket = io();

    var user = !{JSON.stringify(username)};//"no user set yet";

    //socket.on('setuser', function(msg){
    //user = msg;
    //});

    $('.startgame').click(function(){
    $('.infotext').text('Please wait, we are searching for an opponent...');
    $('.startgame').text('Cancel');
    socket.emit('newgame', user);
    return false;
    });

    });
    //$("#add_football").click(function() {
    //$('.ball_footballbox').prepend('<img id="theImg" src="http://upload.wikimedia.org/wikipedia/commons/e/eb/Ash_Tree_-_geograph.org.uk_-_590710.jpg" prepended="yes"/>')
    //});
    //$("#Delete_football").click(function() {
    //$("[prepended=yes]", ".ball_footballbox").remove();
    //});
